body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}

.form-left {
  width: 48%;
}

.form-right {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group input {
  width: 48%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #5a199b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
}

input:invalid {
  border-color: red;
}

.form-image {
  height: 400px;
  width: auto;
}
