/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Footer Styles */
  footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
  }
  
  .footer-section {
    flex: 1 1 300px;
    text-align: center;
  }
  
  .footer-section img {
    width: 20%;
    height: auto;
    border-radius: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
    color: #adb5bd;
  }
  
  .footer-description{
    margin: -30px;
    
  }